{{>layout/header}}
<h1>공지사항</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/notice/save" role="button" class="btn btn-primary">
                글 등록
            </a>
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>최종수정일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#notice}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/notice/update/{{id}}">{{title}}</a></td>
                <td>{{modifiedDate}}</td>
                <td>{{hit}}</td>
            </tr>
        {{/notice}}
        </tbody>
    </table>
</div>
{{>layout/footer}}